#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11

rofi.lines: 5
rofi.eh: 2
rofi.padding: 200
rofi.fullscreen: true
rofi.bw: 0
rofi.separator-style: none
rofi.hide-scrollbar: true

!                  'background', 'border', 'separator'
rofi.color-window: argb:c82d303b, #7c8389, #1d1f21
 State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
!rofi.color-normal: argb:31d1f21, #f3f4f5, argb:31d1f21, argb:31d1f21, #9575cd 
rofi.color-normal: #282828, #ebdbb2, #32302f, #665c54, #fbf1c7
rofi.font: System San Francisco Display 18
